{% extends "account/base.html" %}

{% load i18n %}
{% load utils %}

{% block head_title %}{{ TEXT_ACCOUNT_LOGOUT }}{% endblock %}

{% block content %}
<p>{% translate 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url URL_ACCOUNT_LOGOUT %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{{ TEXT_ACCOUNT_LOGOUT }}</button>
</form>
{% endblock %}
