{% extends "account/base.html" %}

{% load account %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}


{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-12 col-mx-auto">
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %} {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-12 col-mx-auto">
    <form method="post" class="form-signin" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
	{% for field in form %}
	<label for="{{ field.auto_id }}" class="sr-only">{{ field.label }}</label>
	{% render_field field class+="form-control" %}
	{% endfor %}
	<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Reset My Password' %}</button>
    </form>

  </div>
</div>
{% endblock %}
