{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-12 col-mx-auto">
    <form method="post" class="form-signin" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
	{% for field in form %}
	<label for="{{ field.auto_id }}" class="sr-only">{{ field.label }}</label>
	{% render_field field class+="form-control" %}
	{% endfor %}
        <button type="submit" class="btn btn-lg btn-primary btn-block" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
</div>
{% endblock %}
