{% extends lfood|yesno:'nutrition_tracker/my_kitchen_base.html,base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block head_title %}{% display_food_name %}{% endblock %}

{% block authenticated_content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="row justify-content-between align-items-center mx-auto">
      <div class="mr-auto p-2">
	<p class="display-4 mb-0">{% display_food_name %}</p>
      </div>
    </div>

    <div class="row justify-content-between m-auto">
      <div class="col-lg-6 pt-3 pl-1">
	{% crispy form form.helper %}
	{% with wrapper_class='row mb-1 justify-content-between mx-auto' label_class='col-lg-4 text-lg-right font-weight-bold pl-0' value_class='col-lg-8 pl-0' %}
	{% include 'nutrition_tracker/includes/food_details.html' with wrapper_class=wrapper_class label_class=label_class value_class=value_class %}
	{% include 'nutrition_tracker/includes/branded_food_details.html' with wrapper_class=wrapper_class label_class=label_class value_class=value_class %}
	{% endwith %}
      </div>

      <div class="col-lg-6 pt-3 d-flex pl-1">
	{% include 'nutrition_tracker/includes/nutrition_label.html' with logmeal=True %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
