{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}{% translate "My Mealplan" %}{% endblock %}

{% block authenticated_content %}
<div class="row justify-content-center">
  <div class="col-lg-8 pt-3">
    <div class="row mx-auto">
      <div class="col">
	<div class="lead mt-4 font-weight-bold">{% translate "Step 6: Recommended Mealplan" %}</div>
	<div class="mb-1 text-muted">{% translate "Adjust portion sizes (in g/ml), select meals and save." %}</div>
      </div>
    </div>

    <div class="row justify-content-between m-auto">
      <div class="col-lg-6 pt-3">
	{% if mealplan_infeasible %}
	<div>{% translate "A mealplan cannot be computed based on available foods and preferences. Try adjusting portion sizes." %}</div>
	{% else %}
	{% crispy form form.helper %}

	{% if lmeals %}
	<div class="row mt-5"></div>
	{% for lmeal in lmeals %}
	<div class="row mb-1">
	  <div class="col">
	    <div class="mb-0 display-6">{{ lmeal.meal_type }}</div>
	  </div>
	</div>
	{% include 'nutrition_tracker/includes/member_items.html' with lparent=lmeal nexturl=URL_HOME %}
	{% endfor %}
	{% endif %}
	{% endif %}
      </div>

      <div class="col-lg-6 pt-3">
    	{% include 'nutrition_tracker/includes/nutrition_tracker.html' with type=MEALPLAN_NUTRIENTS %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'nutrition_tracker/js/nutrition_tracker.js' %}"></script>
{% endblock %}
