{% extends 'nutrition_tracker/my_kitchen_base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load utils %}

{% block head_title %}{{ TEXT_EDIT_MEAL }}{% endblock %}

{% block kitchen_content %}
<div class="row justify-content-between m-auto">
  <div class="col-lg-6 pt-3 pl-1">
    {% crispy form form.helper %}
  </div>

  <div class="col-lg-6 pt-3 d-flex pl-1">
    {% include 'nutrition_tracker/includes/nutrition_label.html' with label_type=MEAL_NUTRIENTS modifymeal=True %}
  </div>
</div>
{% endblock %}

{% block kitchen_js %}
<script type="text/javascript">
  $(document).ready(function() {
    const members = $('select[id$="-child_external_id"]');
    members.each(/* @this HTMLElement */ function() {
      getNutrients($(this), false);
    });
  });
</script>
{% endblock %}
