{% extends 'nutrition_tracker/my_kitchen_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block head_title %}{{ lrecipe.display_name }}{% endblock %}

{% block kitchen_content %}
<div class="row justify-content-between align-items-center mx-auto">
  <div class="mr-auto p-2 w-75">
    <div class="col px-0">
      <p class="display-4 mb-0">{{ lrecipe.name }}</p>
      <p class="m-0 text-muted line-height-1 font-size-20">{{ lrecipe.display_date }}</p>
    </div>
  </div>
  <div class="form-action-row d-flex p-2">
    {% include 'nutrition_tracker/includes/item_buttons.html' with kitchenobject=lrecipe logurl=URL_LOG_RECIPE logtext=TEXT_LOG_RECIPE editurl=URL_EDIT_RECIPE edittext=TEXT_EDIT_RECIPE deleteurl=URL_DELETE_RECIPE deletetext=TEXT_DELETE_RECIPE %}
  </div>
</div>

<div class="row justify-content-between m-auto">
  <div class="col-lg-6 pt-3 pl-1">
    {% with wrapper_class='row mb-1 justify-content-between mx-auto' label_class='col-lg-4 text-lg-right font-weight-bold pl-0' value_class='col-lg-8 pl-0' %}
    {% include 'nutrition_tracker/includes/portion_details.html' with wrapper_class=wrapper_class label_class=label_class value_class=value_class %}
    {% endwith %}
    <div class="row py-2"></div>
    {% url URL_DETAIL_RECIPE lrecipe.external_id as nexturl %}
    {% include 'nutrition_tracker/includes/member_items.html' with lparent=lrecipe nexturl=nexturl %}
  </div>

  <div class="col-lg-6 pt-3 d-flex pl-1">
    {% include 'nutrition_tracker/includes/nutrition_label.html' with label_type=RECIPE_NUTRIENTS %}
  </div>
</div>
{% endblock %}
